@import 'reset';

.nav{
    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 8%;
        p{
            font-weight: bold;
            font-size: 2.3rem;
            color: #A300EF;
            &:nth-of-type(2){
                font-weight: 500;
                font-size: 1.8rem;
                color: unset;
                cursor: pointer;
                span{
                    
                }
            }
        }
    }
}


.main{
    margin-top: 24px;
    .main-container{
        padding: 1em 8%;
        display: grid;
        place-items: center;
        @media screen and (max-width:550px) {
           place-items: unset;
        }
        .score-container{
            font-size: 3rem;
            font-weight: 500;
        }
        .question-container{
            margin-top: 42px;
            width: 60%;
            @media screen and (max-width:550px) {
                width: unset;
               }
            p{
                font-weight: 500;
                font-size:2.5rem;
                line-height: 1.6;
                @media screen and (max-width:850px) {
                    font-size: 2.3rem;
                         line-height: 1.4;
                }
                @media screen and (max-width:600px) {
                    font-size: 1.8rem;
                         line-height: 1.4;
                }
              
            }
            .option-container{
                margin-top: 12px;
                ol{
                    font-weight: 500;
                    li{
                        font-size: 1.9rem;
                        margin-bottom: 12px;
                        cursor: pointer;
                          @media screen and (max-width:850px) {
                    font-size: 1.5rem;
                }
                @media screen and (max-width:600px) {
                    font-size: 1.8rem;
                         line-height: 1.4;
                }
                    }
                }
            }
        }
    
    }
}
body{
    transition: all .3s cubic-bezier(.17,.67,.83,.67);
}


body.dark{
    transition: all .3s cubic-bezier(.17,.67,.83,.67);
    background-color: black;
    color: white;
}

.correct{
    color: green;
}

.wrong{
    color: red;
}